@media screen and (min-width: 720px) {
    .banner-logo {
        left: 31% ;
    }

    .portfolio-image {
        width: 260px;
    }

    .next, .prev {
        top: -35% ;
    }

    .form-group {
        margin-top: 2% ;
        margin-bottom: 2% ;
        margin-left: 26% ;
    }

    .button {
        color: maroon;
    }
}


